body {
  margin-bottom: 300px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, black, slategray);
}

h1 {
  font-weight: bold;
  font-size: 25px;
  color: darkorange;
}
